/* As hex codes */

.color-primary-0 { color: #426B8B }	/* Main Primary color */
.color-primary-1 { color: #9FBACE }
.color-primary-2 { color: #688BA6 }
.color-primary-3 { color: #275374 }
.color-primary-4 { color: #113856 }

body {
  height: 100%;
  min-height: 100%;
  /*background-color: #426B8B;*/
  color: #e1e2e2;
  background: url(../images/main-background.jpeg) no-repeat center center fixed;
  background-size: cover;
}
header {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}
h2  {
  text-align: center;
}
a {
  color: #e1e2e2;
}

a:hover {
  /*font no underline??*/
}

.row {
  margin-top: 1.5em;
}

.menu div {
  float: left;
  margin-left: 3em;
}

.timeAlert {
  text-align: center;
}

.optA, .optB {
  text-align: center;
  min-height: 15em;
  padding: 2em;
  font-size: 20pt;
  overflow: hidden;
}
.optA {
  background-color: #9FBACE;
  opacity: 0.8;
}

.optB {
  background-color: #113856;
  opacity: 0.8;
}

.post {
  text-align: center;
  min-height: 15em;
  padding: 3em;
  font-size: 22pt;
  background-color: #9FBACE;
}

.post h2 {
  font-size: 28pt;
}

.postGame {
  display: none;
}

.scoreboard {
  text-align: center;
  padding: 1em;
}
.key {
  text-align: center;
  border-radius: 5px;
  border: solid 1px;
  float: left;
  min-width: 3.5em;
  margin-left: 1em;
  background-color: #113856;
}
.first {
margin-left: 30%;
background-color: #9FBACE;
}

#play {
  text-align: center;
  background-color: #275374;
  padding: 0 .8em .8em .8em;
  border-radius: 10px;
  cursor: pointer;
  opacity: 1;
  border: solid #c5e0f5 0;
}

#play:hover {
  opacity: 0.7;
}
