/* As hex codes */

.color-primary-0 { color: #426B8B }	/* Main Primary color */
.color-primary-1 { color: #9FBACE }
.color-primary-2 { color: #688BA6 }
.color-primary-3 { color: #275374 }
.color-primary-4 { color: #113856 }

body {
  height: 100%;
  min-height: 100%;
  background-color: #426B8B;
  color: #e1e2e2;
}
header {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}
h2  {
  text-align: center;
}

.row {
  margin-top: 1.5em;
}
.menu div {
  float: left;
  margin-left: 3em;
}

.timeAlert {
  text-align: center;
}

.optA, .optB {
  text-align: center;
  min-height: 15em;
  padding: 3em;
  font-size: 22pt;

}
.optA {
  background-color: #9FBACE;
  opacity: 0.7;
}

.optB {
  background-color: #113856;
  opacity: 0.7;
}

.post {
  text-align: center;
  min-height: 15em;
  padding: 3em;
  font-size: 22pt;
  background-color: #9FBACE;
}

.post h2 {
  font-size: 28pt;
}

.postGame {
  display: none;
}

#play {
  text-align: center;
  background-color: #275374;
  padding: 0 .8em .8em .8em;
  border-radius: 10%;
  cursor: pointer;
  opacity: 1;
  border: solid #c5e0f5 0;
}

#play:hover {
  opacity: 0.7;
}
